@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* импортируем шрифты из google fonts, копируем эту строку из google fonts,там выбираем get embed code и во вкладке @import копируем это,чтобы подключился нужный шрифт */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent; /* указываем это свойство,чтобы при нажатии кнопок на телефоне задний фон кнопок не изменялся на секунду на синий*/
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    color: #3C4242;
    overflow-x: hidden; /* указываем это свойство,чтобы все дочерние элементы у элемента body не были видны,если они будут за пределами этого элемента body по оси x(в данном случае указываем это для анимаций,чтобы не было нижнего скролла) */
}

.container{
    max-width: 1260px;
    padding: 0 10px;
    margin:0 auto;
}

ul {
    list-style: none; /* убираем стили списков ul, чтобы они были без точек сбоку и тд */
}

a {
    color: inherit; /* указываем,что цвет ссылок будет таким же,как его родительский элемент */
    text-decoration: none; /* убираем подчеркивание ссылок */
}

/* здесь еще нужно будет указать стили для враппера и тд,чтобы прижать хедер и футер */

.header{
    padding: 30px 0;
    border-bottom: 1px solid #BEBCBD;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logoLink:hover{
    cursor: pointer;
}

.header__menuList{
    display: flex;
    align-items: center;
    gap:40px;
}

.header__menuList-itemBoxes{
    display: flex;
    align-items: center;    
    gap:20px;
}

.header__menuList-link{
    font-size: 18px;
    font-weight: 500;
    color: #807D7E;
    transition:all .5s ease;
    opacity: 1;
}

.header__menuList-linkBox{
    padding: 12px;
    background-color: #F6F6F6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__menuList-linkBox:hover{
    background-color: rgba(0, 0, 0,0.9);
}

.header__menuList-linkCart{
    position: relative;
}

.header__linkCart-span{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #3c4242;
    font-size: 10px;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 17px;  /* указываем line-height с таким же значением как и height этого спана,чтобы текст внутри него стал ровно по центру */ 
}

.header__menuList-link:hover{
    cursor: pointer;
    opacity: 0.5;
}

.header__menuList-link--active{
    color: #3c4242;
    font-weight: 600;
}


.sectionTop{
    padding: 130px 0 130px 93px;
    background-image: url('/public/images/sectionTop/sectionTopImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    opacity: 0;
    transition:all 1s ease;
}

.sectionTop__active{
    transform:translateX(0);
    opacity: 1;
}

.sectionTop__subtitle{
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    line-height: 37.8px;
    margin-bottom: 40px;
}

.sectionTop__title{
    color: #fff;
    font-size: 78px;
    font-weight: 800;
    line-height: 93px;
    letter-spacing: 0.31px;
    max-width: 439px;
    margin-bottom: 40px;
}

.sectionTop__link{
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 15px;
    border-radius: 8px;
    background-color: #fff;
    max-width: 250px;
    transition:all .5s ease;

}

.sectionTop__link:hover{
    cursor: pointer;
    background-color: #5fe4ff;
}

.sectionTop__link:hover .sectionTop__link-img{
    animation: arrowLink 1s ease infinite;
}

@keyframes arrowLink {
    0%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(60%);
    }

    70%{
        transform: translateX(-30%);
    }

    90%{
        transform: translateX(30%);
    }

    100%{
        transform: translateX(0);
    }
}

.sectionTop__link-text{
    color: #3C4242;
    font-size: 20px;
    font-weight: 700;
}

.sectionPresents{
    margin: 120px 0; /* указываем margin вместо padding у секции,чтобы intersection observer срабатывал только при появлении на экране контента внутри секции,а не его паддингов(padding),хотя можно отдельно указать параметры для intersection observer,но так тоже можно */
    opacity: 0;
    transform: translateX(50%);
    transition:all 1s ease;
}

.sectionPresents__active{
    opacity: 1;
    transform: translateX(0);
}

.sectionPresents__inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.sectionPresents__item{
    padding: 57px 0 63px 28px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4); /* картинки лучше экспортировать из фигмы без border-radius(в appearance в фигме) и box-shadow,а потом отдельно в css указывать этот border-radius и box-shadow,чтобы было удобнее и лучше смотрелось,если при использовании box-shadow у картинок белые границы,то нужно уменьшить padding */
    border-radius: 9px;
}

.sectionPresents__item-highCoziness{
    background-image: url('/public/images/sectionPresents/highCoziness.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.sectionPresents__item-breezySummer{
    background-image: url('/public/images/sectionPresents/breezySummer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.sectionPresents__item-sutitle{
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.25px;
    margin-bottom: 24px;
    color: #fff;
}

.sectionPresents__item-title{
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #fff;
    max-width: 264px;
}

.sectionPresents__item-desc{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.25px;
    color: #fff;
    margin-bottom: 30px;
}

.sectionPresents__item-descHighCoziness{
    margin-bottom: 63px;
}

.sectionPresents__item-link{
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    border-bottom: 1px solid #fff;
    opacity: 1;
    transition:all .5s ease;
}

.sectionPresents__item-link:hover{
    cursor: pointer;
    opacity: 0.7;
}

.sectionCategories{
    margin-bottom: 100px;
    transform:translateX(-50%);
    opacity: 0;
    transition:all 1s ease;
}

.sectionCategories__active{
    opacity: 1;
    transform: translateX(0);
}

.sectionCategories__topBlock{
    display: flex;
    align-items: center;
    gap:20px;
    margin-bottom: 70px;
}

.sectionCategories__topBlock-leftBorderBlock{
    width: 6px;
    height: 30px;
    border-radius: 10px;
    background-color: #8A33FD;
}

.sectionCategories__topBlock-title{
    color: #3C4242;
    font-weight: 700;
    font-size: 34px;
}

.sectionCategories__items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
}

.sectionCategoires__item-img{
    width: 100%;
    margin-bottom: 30px;
    transition:opacity .5s ease;
}

.sectionCategoires__item-img:hover{
    cursor: pointer;
    opacity: 0.7;
}

.sectionCategories__item-text{
    font-size: 18px;
    font-weight: 700;
    transition:all .5s ease;
    color: #3C4242;
}

.sectionCategories__item-text:hover{
    cursor: pointer;
    color: #8A33FD;
}

.sectionCategories__item-bottomBlock{
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.sectionCategories__item-linkBtn{
    background-color: #fff;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionCategories__item-linkBtn:hover{
    cursor: pointer;
}

.sectionCategories__item-linkBtn:hover .sectionCategories__item-linkBtnImg{
    animation: arrowLink 1s ease infinite;
}

.sectionSavingZone{
    margin-bottom: 100px;
}

.sectionSavingZone__items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}

.sectionSavingZone__itemsBottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    margin-top: 20px;
}

.sectionSavingZone__item{
    padding: 65px 20px 65px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}

.sectionSavingZone__item-hawai{
    background-image: url('/public/images/sectionSavingZone/Rectangle 74.png');
}

.sectionSavingZone__item-printed{
    background-image: url('/public/images/sectionSavingZone/Rectangle 75.png');
    display: flex;
    justify-content: end;
}

.sectionSavingZone__item-cargo{
    background-image: url('/public/images/sectionSavingZone/Rectangle 76.png');
    display: flex;
    justify-content: end;
}

.sectionSavingZone__item-Urban{
    background-image: url('/public/images/sectionSavingZone/Rectangle 77.png');
    display: flex;
    justify-content: end;
    padding: 46px 120px 50px 0;
}

.sectionSavingZone__item-Oversize{
    background-image: url('/public/images/sectionSavingZone/Rectangle 78.png');
    display: flex;
    justify-content: end;
    padding: 46px 96px 50px 0;
}

.sectionSavingZone__item-info{
    max-width: 167px;
}

.sectionSavingZone__item-infoPrinted{
    max-width: 175px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.sectionSavingZone__item-title{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

.sectionSavingZone__item-titlePrinted{
    text-align: end;
    max-width: 104px;
}

.sectionSavingZone__item-titleCargo{
    color: #3C4242;
    text-align: start;
}

.sectionSavingZone__item-subtitle{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}

.sectionSavingZone__item-saleText{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.sectionSavingZone__item-subtitleCargo{
    color: #3C4242;
}

.sectionSavingZone__item-saleTextPrinted{
    text-align: end;
}

.sectionSavingZone__item-imgArrowBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 122px;
    margin-bottom: 40px;
}

.sectionSavingZone__item-imgArrowBlockPrinted{
    margin-right: 50px;
}

.sectionSavingZone__item-link{
    display: inline-block; /* указываем это свойство для ссылки,чтобы отступы корректно считались от границы этой ссылки,а не от ее текста */
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border:1px solid #fff;
    border-radius: 4px;
    text-transform: uppercase;
    transition:opacity .5s ease;
    opacity: 1;
}

.sectionSavingZone__item-link:hover{
    cursor: pointer;
    opacity: 0.7;
}

.sectionSavingZone__item-linkBlack{
    border-color:#3C4242;
    color: #3C4242;
}

.sectionSavingZone__item-titleUrban{
    max-width: 99px;
}

.sectionSavingZone__item-titleShirts{
    max-width: 163px;
}

